
td {
    width: 4%;
    text-align: left;
    white-space: nowrap;
}

td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

hr {
    border-top: 1px dashed #4e555b;
}

.items-center {
    display: flex;
    align-items: center;
}

.bbut-button {
    background-color:#7892c2;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:3px 10px;
    text-decoration:none;
}
.bbut-button:hover {
    background-color:#476e9e;
}
.bbut-button:active {
    position:relative;
    top:1px;
}

.bbut-button.disabled, .bbut-button:disabled {
    opacity: 0.25;
    background-color:transparent;
}

.bbut-button-success {
    background-color:transparent;
    border-radius:5px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#20c94d;
    font-family:Arial;
    font-size:14px;
    padding:3px 10px;
    text-decoration:none;
}

.bbut-button-success:active {
    position:relative;
    top:1px;
}

.bbut-button-warning {
    background-color:transparent;
    border-radius:5px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color: #ffdf7e;
    font-family:Arial;
    font-size:14px;
    padding:3px 10px;
    text-decoration:none;
}

.bbut-button-warning:active {
    position:relative;
    top:1px;
}

.bbut-button-danger {
    background-color: #b21f2d;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:1px solid #721c24;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:3px 10px;
    text-decoration:none;
}
.bbut-button-danger:hover {
    background-color: #721c24;
}
.bbut-button-danger:active {
    position:relative;
    top:1px;
}
