
td {
    width: 4%;
    text-align: left;
    white-space: nowrap;
}

td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

hr {
    border-top: 1px dashed #4e555b;
}

.items-center {
    display: flex;
    align-items: center;
}
