.white {
    color: white;
}

.left {
    text-align: left;
}

.text-margin {
    margin-left: 110px;
}

.custom-tooltip {
    background-color: #1b1e21;
}

.custom-tooltip .group {
    padding: 10px 10px 5px;
}

.custom-tooltip .label {
    color: #C3E6CB;
}

.recharts-legend-item-text {
    color: white;
}

