
.lap-table {
  width: 20%;
  color: white;
}

.team-table {
  width: 1%;
  color: white;
}

.lap-table td, .team-table td {
  border-width: 1px;
  border-color: #4e555b;
  border-style: solid;
  padding: 3px 5px 3px 5px;
}

.lap div {
  min-width: 20px;
  max-width: 20px;
}

.lap-completed {
  background-color: #C3E6CB;
  color: #282c34;
  text-align: center;
}

.lap-overdue {
  background-color: #FFEEBA;
  color: #282c34;
  text-align: center;
}

